includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    paths:
        - wp-consent-api.php
        - inc/
    level: 5
    ignoreErrors:
        #- '#^Unsafe usage of new static#'
